RewriteEngine On
RewriteBase /blog_post/

# Redirect requests to the Home.php file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)/?$ Home.php?username=$1 [L,QSA]
