/* Slider container styling */
.slider {
    position: relative; 
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
  
  /* Flexbox layout for slides */
.slides img{
    display: none;
    height: 90vh;
    max-width: 100%;
}
img.displayBlock{
  display: block;  
}
